# Rust build artifacts
target/
Cargo.lock

# WebAssembly binaries
*.wasm

# Node dependencies
node_modules/

# Scoped local build directories
**/@void/
**/@tgrv/
**/void-math/

# System and logs
.DS_Store
*.log
