# Rust build artifacts
target/
Cargo.lock

# C++ build artifacts
build/
.cache/
compile_commands.json

# Go build artifacts
*.sum

# WebAssembly binaries
*.wasm

# Node dependencies
node_modules/

# Scoped local build directories
**/@void/
**/@tgrv/
**/void-math/

# System and logs
.DS_Store
*.log

